@import '../../common/css/rpx.scss';
@import '../../common/css/const.scss';
@import '../../common/css/mixin.scss';
.order-status-order {
  padding: rpx(30);
  background: #FFF;
  height: rpx(28);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text:nth-of-type(1) {
    font-size: rpx(28);
    color: #333333;
    font-weight: bold;
  }
  text:nth-of-type(2) {
    color: $color-word-four;
    flex: 1;
    text-align: right;
    font-size: rpx(22);
  }
  image {
    width: rpx(11);
    height: rpx(18);
    margin-left: rpx(10);
  }
}
.cat-item-ctner{
  margin-top: rpx(-20);
  padding: rpx(5) rpx(30) rpx(15) rpx(30);
  background: #FFF;
  border-radius: rpx(10);
  margin-bottom: rpx(40);
  .goods-outer {
    display: flex;
    align-items: center;
    padding:rpx(10) 0 rpx(30) 0;
    border-bottom: rpx(1) solid #D8D8D8;
    position: relative;
    margin-top: rpx(20);
  }
  .goods-outer:last-child{
    border-bottom: none;
  }
  .cat-m {
    width: rpx(174);
    height: rpx(130);
    margin: 0 rpx(26) 0 rpx(16);
    image{
      width: 100%;
      height: 100%;
    }
  }
  .cat-m-t {
    flex: 1;
    .goods-name {
      font-size: rpx(28);
      color: $color-word-one;
      text-overflow: ellipsis; /*文本两行显示start 块状元素*/
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;        /*文本两行显示ede 块状元素*/
      -webkit-box-orient: vertical;
      letter-spacing: rpx(3);
      line-height: rpx(30);
    }
    .goods-des {
      height: rpx(20);
      line-height: rpx(20);
      color: $color-word-alarm;
      margin: rpx(16) 0 rpx(20) 0;
      text{
        font-size: rpx(28);
        font-weight: bold;
        overflow: hidden;
        width: rpx(400);
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        line-height: rpx(30);
      }
    }
  }
  .order-num-outer {
    height: rpx(20);
    line-height: rpx(20);
    font-size: rpx(16);
    text-align: right;
    margin: rpx(70) 0 rpx(24) 0;
    text:nth-of-type(2) {
      color: $color-word-alarm;
    }
  }
  .order-button-outer {
    display: flex;
    justify-content: flex-end;
    padding-top: rpx(10);
    .order-btnAfterSale {
      height: rpx(40);
      width: rpx(150);
      display: flex;
      justify-content: center;
      line-height: rpx(36);
      font-size: rpx(20);
      border: rpx(1) solid #A8A8A8;
      color: #A8A8A8;
      border-radius: rpx(20);
      margin-right: rpx(10);
    }
    .order-btnJoinCart {
      height: rpx(40);
      width: rpx(150);
      display: flex;
      justify-content: center;
      line-height: rpx(36);
      font-size: rpx(20);
      border: rpx(1) solid #FF7F00;
      color: #FF7F00;
      border-radius: rpx(20);
      margin-right: rpx(10);
    }
    .order-btnSure {
      height: rpx(40);
      width: rpx(150);
      display: flex;
      justify-content: center;
      line-height: rpx(36);
      font-size: rpx(20);
      color: #FFFFFF;
      background: $color-word-alarm;
      border-radius: rpx(20);
      margin-right: rpx(10);
    }

  }
}
