@import '../../../common/css/rpx.scss';
@import '../../../common/css/const.scss';
@import '../../../common/css/mixin.scss';
page,
.Appointment-ctner{
  background: #F9F9F9;
  .a-1{
    width: rpx(690);
    height: rpx(200);
    margin: rpx(20) rpx(30);
    padding: rpx(30);
    border-radius: rpx(10);
    background: #FFFFFF;
    view:nth-child(1){
      font:{
        size: rpx(28);
        weight: bold;
      };
      color: #333333;
    }
    .icx-btn-whiteBg-colorText{
      border: rpx(1) solid $color-word-alarm;
      width: rpx(100);
      height: rpx(40);
      margin: rpx(50) auto;

    }
    .namePhone{
      text-align: center;
      padding-left: rpx(107);
      view{
        line-height: rpx(40);
      }
      text:nth-of-type(1){
        font-weight: bold;
        font-size: rpx(28);
        color: #333333;
      }
      text:nth-of-type(2){
        font-size: rpx(28);
        color: #333333;
      }
      .select{
        text-align: right;
        margin-left: rpx(50);
        color: $color-word-alarm;
      }
    }
    .address{
      font-size: rpx(28);
      line-height: rpx(40);
      padding-left: rpx(192);
    }
  }
  .a-2{
    width: rpx(690);
    //height: rpx(200);
    margin: rpx(20) rpx(30);
    padding: rpx(30);
    border-radius: rpx(10);
    background: #FFFFFF;
    view:nth-child(1){
      line-height: rpx(50);
      font:{
        size: rpx(28);
        weight: bold;
      };
      color: #333333;
    }

    .text-input{
      display: flex;
      align-items: center;
      text:nth-child(1){
        font-size: rpx(28);
        color: #333333;
      }
      text:nth-child(2){
        font-size: rpx(24);
        color: #999999;
      }
      .input{
        flex: 1;
        text-align: right;
      }
    }
    .text{
      display: flex;
      justify-content: space-between;
      text{
        line-height: rpx(60);
      }
      text:nth-child(1){
        font-size: rpx(28);
        color: #333333;
      }
      text:nth-child(2){
        text-align: right;
        font-size: rpx(24);
        color: #999999;
      }
    }
    .rule{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: rpx(20) auto;
      width: 100%;
      image{
        width: rpx(24);
        height: rpx(24);
        margin-right: rpx(8);
      }
      view{
        white-space: nowrap;
        text:nth-child(1){
          font-size: rpx(24);
          color: #333333;
        }
        text:nth-child(2){
          font-size: rpx(24);
          color: $color-word-alarm;
        }
      }

    }
  }
  .a-3{
    width: rpx(690);
    margin: rpx(20) rpx(30);
    padding: rpx(30);
    border-radius: rpx(10);
    background: #FFFFFF;
    view:nth-child(1){
      font:{
        size: rpx(28);
        weight: bold;
      };
      color: #333333;
    }
    view:nth-of-type(n+2){
      font-size: rpx(24);
      color: #333333;
      line-height: rpx(40);
    }
  }
  .a-bottom{
    position: absolute;
    bottom: 0;
    display: flex;
    view:nth-of-type(1){
      width: rpx(250);
      border-top: rpx(1) solid #D8D8D8;
      display: flex;
      align-items: center;
      justify-content: center;
      image{
        width: rpx(60);
        height: rpx(60);
      }
    }
    .activeClass{
      background: #333333 !important;
    }
    .icx-btn-colorBg-whiteText{
      background: #D1D1D1;
      border-radius:0;
      width: rpx(500);
      height: rpx(80);

    }
  }
}
